.saltOptionGroup-label {
  background: var(--salt-container-primary-background);
  color: var(--salt-text-secondary-foreground);
  font-size: var(--salt-text-label-fontSize);
  font-weight: var(--salt-text-label-fontWeight-strong);
  font-family: var(--salt-text-fontFamily);
  line-height: var(--salt-text-label-lineHeight);
  height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
  display: flex;
  align-items: center;
}

.saltOptionGroup {
  border-top: var(--salt-size-border) var(--salt-separable-borderStyle) var(--salt-separable-tertiary-borderColor);
}

.saltOptionGroup:first-of-type {
  border-top: 0;
}

/* Not implemented */

/*.saltOptionGroup-label {*/
/*  position: sticky;*/
/*  top: -1px;*/
/*}*/

/*.saltOptionGroup-stuck {*/
/*  background: var(--salt-container-primary-background);*/
/*  box-shadow: var(--salt-overlayable-shadow);*/
/*  z-index: 2;*/
/*}*/
